.breadcrumbs {
	//margin-top: 20px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0.5em;
		li {
			display: inline-block;
			&::after {
				content: ' / ';
			}
			&:last-child {
				&::after {
					content: '';
				}
			}
			a {
				color: $main-link-color;
				&:hover {
					color: $main-link-hover-color;
				}
			}
		}
	}
}