footer {
	@extend %clearfix;
	border-top: 1px solid darken($content-wrapper-background-color, 10%);
	background: $footer-background-color;
	.container.footer {
		@extend %clearfix;
	}
	.container.pdf-download {
		display: none;
	}
	h2 {
		font-size: 1em;
		font-weight: bold;
		color: $footer-heading-color;
	}
	.grid-footer {
		display: none;
		&.grid-social {
			width: 100%;
			display: block;
			padding: 1em;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			&.social {
				display: inline-block;
				.social-icon {
					height: 30px;
					width: 40px;
					background: url('mysource_files/social-icons.png') no-repeat;
					&.twitter {
						background-position: 0 0;
					}
					&.linked-in {
						background-position: -40px 0;
					}
					&.youtube {
						background-position: -80px 0;
					}
					&.rss {
						background-position: -120px 0;
					}
					&.email {
						background-position: -160px 0;
					}
				}
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
	.copyright {
		width: 100%;
		background: $copyright-background-color;
		min-height: 50px;
		color: #fff;
		font-size: 0.85em;
		padding: 10px;
		text-align: center;
		@extend %clearfix;
		.license {
			
			img {
				margin-right: 10px;
			}
		}
	}
}
