header {
	@extend %clearfix;
	/*@include outer-container();
	.logo {
		margin: 1em 0;
	}
	.search {
		float: right;
		width: 100%;
		margin-top: 1em;
		padding: 0.25em;
		border: 1px solid darken($company-color,10%);
		background: url('../mysource_files/mag.png') no-repeat 97% 10px;
		input {
			border: none;
			width: 90%;
			height: 20px;
			
			padding: 5px;
			outline: none;
		}
	}*/
	text-align: center;
	padding: 0 10px;
	.mobile-menu {
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 2;
		a {
			color: $main-nav-color;
			display: table;
			margin: 0 auto;
			&:hover {
				color: lighten($main-nav-color, 30%);
			}
		}
		span {
			display: table-cell;
			vertical-align: middle;
			padding-right: 10px;

		}
		.fa-bars {
			font-size: 2em;
		}
	}
	.search {
		width: 90%;
		border: 1px solid darken($company-color,10%);
		background: url('../mysource_files/mag.png') no-repeat 97% 10px;
		margin: 0 auto;
		form {
			text-align: left;
			input {
				border: none;
				width: 88%;
				height: 20px;
				
				padding: 5px;
				outline: none;

			}
		}
		
	}
	
	
}
