.container-fluid {
	&.home {
		background: #fff;
	}
}
.container {

	&.top {

		.grid-8 {

			position: relative;
			padding: 0;
			
			.slider-info {
				@extend %clearfix;
	
				.slide-caption {
					display: none;
				}
				a {
					text-decoration: none;
					color: darken($company-color,10%);
					float: left;
				}
				

					
				}
			}
			.slider-nav {
				@extend %clearfix;

				display: block;
				//margin-top: 0.5em;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 40px;
				padding: 0.5em 0;
				z-index: 1;
				background: rgba(255,255,255,0.80);
				button {
					background: none;
					border: none;
					outline: none;
					display: inline-block;
					.fa {
						font-size: 1em;
					}

				}
				.slick-arrow {
					color: $company-color;

					&.slick-prev {
						float: left;
					}
					&.slick-next {
						//float: right;
					}
				}
				.slick-dots {
					margin: 0;
					padding: 0;
					float: left;
					font-size: 1em;
					list-style-type: none;
					li {
						display: inline-block;
						float: left;
						&.slick-active {
							button {
								color: $accent-color;
							}
							
						}
					}

				}
				.slick-play {
					display: none;
				}
			
		}
		
	}
}

/* slider global */
.slick-slider {
	.slick-arrow {
		color: $company-color;
		font-size: 1.5em;
		&.slick-prev {
			float: left;
		}
		&.slick-next {
			float: right;
		}
	}
	button {
		background: none;
		border: none;
		outline: none;
	}
}


/* latest news */

.latest-news {

	background: $latest-news-color;
	color: #fff;
	padding: 20px;
	h1 {
		font-size: 1.3em;
		color: #fff;
		margin-bottom: 1em;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 30px;
			@extend %clearfix;
			.date {
				height: 50px;
				width: 50px;
				float: left;
				span {
					display: block;
					text-align: center;
				}
				.day {
					width: 100%;
					height: 30px;
					background: darken($latest-news-color, 30%);
					color: #fff;
					line-height: 1.7;
				}
				.month {
					width: 100%;
					height: 20px;
					background: #fff;
					color: darken($latest-news-color, 30%);
					line-height: 1.1;
				}
			}
			.headline {
				margin-left: 70px;
				a {
					color: #fff;
					&:hover {
						color: darken(#fff, 5%);
					}
				}
			}
		}
	}
	
}
/* middle section */
.container {
	&.middle {
		img {
			width: 100%;
		}
		div[class*='spotlight'] {
			padding: 0;
		}
		.spotlight1 {
			background: $spotlight1-color;
		}
		.spotlight2 {
			background: $spotlight2-color;
		}
		.spotlight3 {
			background: $spotlight3-color;
		}
		article {
			color: #fff;
			padding: 20px;
			h1 {
				font-size: 1.3em;
				color: #fff;
			}
		}
	}
}

/* bottom secion - Twitter API */
.container-fluid {
	&.bottom {
		@extend %clearfix;
		background: lighten(#000,80%);
		text-align: center;
		padding: 20px 0;
		.twitter-block {
			margin: 1em;
			&.slick-slider {
				button {
					position: absolute;
					top: 42%;
					font-size: 1.5em;
					padding: 0;
					z-index: 2;
					&.slick-next {
						right: -0.5em;
					}
					&.slick-prev {
						left: -0.5em;
					}
				}
			}
			.twitter-feed {
				@extend %clearfix;
				height: 220px;
				background: #fff;
				float: left;
				outline: none;
				margin: 0 0.5em;
				position: relative;
				text-align: left;
				padding: 1em;
				h1 {
					font-size: 1.1em;
					font-weight: bold;
					margin: 0;

					a {
						color: #000;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.twitter-title {
					color: #666;
					&:hover {
						text-decoration: underline;
					}
					
				}
				.twitter-follow {
					position: absolute;
					top: 1em;
					right: 1em;
					font-size: 0.65em;
					color: #000;
					display: block;
					background: linear-gradient(#fff, #ccc);
					@include sq-border-radius();
					border: 1px solid #ccc;
					padding: 0 0.4em;
					.fa {
						margin-right: 5px;
						color: #55acee;
					}
					
				}
				.twitter-text {
					font-size: 0.85em;
					margin: 0.5em 0;
				}
				.date {
					font-size: 0.75em;
					color: #999;
				}
				.tweet-options {
					position: absolute;
					bottom: 0;
					left: 1em;
					right: 1em;
					margin: 1em 0 0 0;
					border-top: 1px solid #ccc;
					text-align: center;
					a {
						display: inline-block;
						color: #999;
						margin: 0.5em 1em;
					}
				}

			}
		}
		
	}
}
