/* SLIDER */
.main-slider {

	
}
.content-wrapper {
	&.homepage {
		border-top: none;
		background: #fff;
	}
}
.container {
	&.top {
		margin-bottom: 0;
		.grid-8 {

			.slider-info {
				position: absolute;
				display: block;
				bottom: 65px;
				left: 25px;
				padding: 20px;
				width: 70%;
				height: auto;
				z-index: 1;
				background: rgba(255,255,255,0.80);
				@extend %clearfix;

				.slide-caption {
					display: block;
				}
				
			}
			.slider-nav {
				bottom: 25px;
				left: 25px;
				width: 70%;
			}
			
		}
		
	}
}

/* latest news */

.latest-news {
	min-height: 330px;

}


/* middle section */
.container {
	&.middle {
		
		div[class*='spotlight'] {
			height: 410px;
			
			img {
				width: 100%;
				float: none;
			}
		}
		.spotlight1 {
			background: $spotlight1-color;
		}
		.spotlight2 {
			background: $spotlight2-color;
		}
		.spotlight3 {
			background: $spotlight3-color;
		}
		article {
			color: #fff;
			padding: 20px;
			float: none;
			h1 {
				font-size: 1.3em;
				color: #fff;
			}
		}
	}
}

/* bottom secion - Twitter API */
.container-fluid {
	&.bottom {
		background: lighten(#000,80%);
		text-align: center;
		padding: 0;
		.twitter-block {
			padding: 0 0.5em;
			margin-bottom: 0;
			.slick-next {
				right: 0.4em !important;
			}
			.slick-prev {
				left: 0.4em;
			}
		}
		.twitter-feed {
			width: 30%;
			margin: 1%;
			height: 200px;
			background: #fff;
			padding: 0.5em;
			float: left;

			
		}
	}
}
