/* SLIDER */
.main-slider {

	
}
.content-wrapper {
	&.homepage {
		border-top: none;
		background: #fff;
	}
}
.container {
	&.top {
		margin-bottom: 0;
		.grid-8 {

			position: relative;
			.slider-info {
				position: absolute;
				bottom: 25px;
				left: 25px;
				padding: 20px;
				z-index: 1;
				background: rgba(255,255,255,0.90);
				width: 60%;
				height: auto;
				@extend %clearfix;
				a {
					text-decoration: none;
					color: darken($company-color,10%);
					float: left;
				}
				.home-about {
					display: block;
				}
				.slider-nav {
					float: right;
					button {
						background: none;
						border: none;
						outline: none;
					}
					.slick-arrow {
						color: $company-color;
						font-size: 1.5em;
						&.slick-prev {
							float: left;
						}
						&.slick-next {
							float: right;
						}
					}
					.slick-dots {
						margin: 0;
						padding: 0;
						float: left;
						font-size: 1em;
						line-height: 2;
						list-style-type: none;
						li {
							display: inline-block;
							float: left;
							&.slick-active {
								button {
									color: $accent-color;
								}
								
							}
						}

					}
					.slick-pause {
						font-size: 1em;
						line-height: 1.9;
					}
				}
			}
			
		}
		
	}
}

/* latest news */

.latest-news {
	min-height: 334px;

}
/*@media screen and (max-width: 1180px) {
		.carousel {
			width: 100%;
			margin-bottom: 1em;
			margin: 0 0 1em 0;
		}
    .latest-news {
    	width: 100%;
    	margin: 0;
    }
    .container {
    	&.middle {
    		padding: 0 !important;
    	}
    	&.top {
    		margin-bottom: 0;
    	}
    }
}*/


/* middle section */
.container {
	&.middle {
		
		div[class*='spotlight'] {
			height: 410px;
			
			img {
				width: 100%;
				float: none;
			}
		}
		.spotlight1 {
			background: $spotlight1-color;
		}
		.spotlight2 {
			background: $spotlight2-color;
		}
		.spotlight3 {
			background: $spotlight3-color;
		}
		article {
			color: #fff;
			padding: 20px;
			float: none;
			h1 {
				font-size: 1.3em;
				color: #fff;
			}
		}
	}
}

/* bottom secion - Twitter API */
.container-fluid {
	&.bottom {
		background: lighten(#000,80%);
		text-align: center;
		padding: 0;
		.twitter-block {
			padding: 0 0.5em;
			margin-bottom: 0;
			.slick-next {
				right: 0.4em !important;
			}
			.slick-prev {
				left: 0.4em;
			}
		}
		.twitter-feed {
			width: 30%;
			margin: 1%;
			height: 200px;
			background: #fff;
			padding: 0.5em;
			float: left;

			
		}
	}
}
