.content-wrapper {
	background: $content-wrapper-background-color;
	div[class*='grid'] {
		//margin: 0 !important;
		background: $content-block-background-color;
		&.nav-wrapper {
			margin: 0;
		}
		&.main-wrapper {
			margin-left: 3%;
		}
		&.related-wrapper {
			margin: 0;
			float: right;
		}
	}
	.content-block {
		padding: 20px;
		&.sidenav {
			padding: 0;
		}
	}
}