.content-wrapper {
	background: $content-wrapper-background-color;

	.content-block {
		padding: 1em;
		background: $content-block-background-color;
		margin: 0 1em;
		h1 {
			color: $secondary-color;
		}

	}
	.related-wrapper {
		margin-bottom: 0.5em;
	}
}