nav {
	position: absolute;
	top: 40px;
	width: 100%;
	background: rgba(255,255,255,0.95);
	border: 1px solid $company-color;
	z-index: 3;
	transition: transform 0.3s;
	transform: translateX(-100%);

	&.active {
		transform: translateX(0);
	}

	ul.mobile {
		list-style-type: none;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		max-width: $container-max-width;

		li {
			//display: inline-block;
			position: relative;
			border-bottom: 1px dotted $company-color;

			a {
				text-decoration: none;
				color: $main-nav-color;
				display: block;
				height: 100%;
				width: 100%;
				padding: 1em;
				&:hover {
					background: $company-color;
					color: $main-nav-hover-color;
				}
			}
			.fa-plus-circle {
				position: absolute;
				right: 5px;
				top: 32%;
				color: $company-color;
				font-size: 1.4em;
				z-index: 5;
				cursor: pointer; 

			}
			&:hover {
				.fa-plus-circle {
					color: darken($company-color,15%);
				}
			}
			&:last-child {
				border-bottom: none;
			}

		}
		
		// sub navigation
		.subnav {

			position: absolute;
			background: #fff;
			transform: translateX(-101%);
			transition: transform 0.3s;
			margin: 0;
			padding-left: 0;
		    border: 1px solid $company-color;
		    border-left: 1px solid #fff;
		    box-shadow: 3px 2px 0 rgba(0,0,0,0.1);

		    z-index: 4;
		    &.active {
		    	transform: translateX(0);
		    }
			li {
				display: block;
				text-align: left;
				width: 200px;
	
				a {
					color: $sub-nav-color;
					position: relative;
					display: block;
					&:hover {
						//background: none;
						//color: $sub-nav-hover-color;
					}
					
				}
				&::before {
					// border on left
					//@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-color);

				}
				&:hover {

					// border on left
					&::before {
						//@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-hover-color);

					}
				}

			}
		}
	}

}

// Side navigation inner pages
.nav-wrapper {
	display: none;
}
.sidenav {
	display: none;
	.top-nav-title {

	}
	ul {
		list-style-type: none;
		li {
			position: relative;
			a {

			}
			&::before {
				// border on left
				@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-color);

			}
			&:hover {

				// border on left
				&::before {
					@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-hover-color);

				}
			}
		}
		

	}
}