nav {
	width: 100%;
	border-top: 6px solid $company-color;
	border-bottom: none;
	border-right: none;
	position: relative;
	top: 0;
	transform: none;
	ul {
		list-style-type: none;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		max-width: $container-max-width;


		li {
			display: inline-block;
			border-bottom: none;
			//position: relative;

			a {
				text-decoration: none;
				color: $main-nav-color;
				display: block;
				height: 100%;
				width: 100%;
				padding: 1em;
				&:hover {
					background: $company-color;
					color: $main-nav-hover-color;
				}
			}

		}
		// main nav specific
		&.mainnav {
			position: static;
			display: table;
			width: 100%;
			li {
				display: table-cell;
				width: auto;
			}
		}

		// sub navigation
		&.subnav {
			display: none;
			background: #fff;
			position: absolute;
			z-index: 2;
			top: 54px;
		    padding: 10px;
		    border: 1px solid $company-color;
		    @include columns(2);
			li {
				display: block;
				text-align: left;
				width: 200px;
				 -webkit-column-break-inside: avoid; /*Chrome, Safari, Opera */
          		page-break-inside: avoid;  /*Firefox */
               	break-inside: avoid; /* IE 10+ */
	
				position: relative;
				a {
					color: $sub-nav-color;
					position: relative;
					display: block;
					&:hover {
						background: none;
						color: $sub-nav-hover-color;
					}
					
				}
				&::before {
					// border on left
					@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-color);

				}
				&:hover {

					// border on left
					&::before {
						@include pseudo-border(10px,0,0,0,4px,40px,$sub-nav-hover-color);

					}
				}

			}
		}
	}

}

// Side navigation on inner pages

.sidenav {
	display: block;
	.top-nav-title {
		padding: 0.5em;
		background: $secondary-color;
		color: #fff;
	}
	// level 2
	ul {
		list-style-type: none;
		padding: 0.7em;
		li {
			position: relative;
			display: block;
			margin-bottom: 10px;
			a {
				display: block;
				border-left: 4px solid $sub-nav-color;
				padding: 0.5em;
				color: $secondary-color;
				&:hover, &.active {
					border-left: 4px solid $sub-nav-hover-color;
					color: $sub-nav-hover-color;
				}

			}
			// level 3
			> ul > li { 
					a {
						border-left: 4px solid $sub-nav-level3;
						color: $sub-nav-hover-color;
				}
				// level 4 
				> ul > li {
					a {
						border-left: 4px solid $sub-nav-level4;
						color: $sub-nav-hover-color;
					}
					// level 5
					> ul > li {
						a {
							border-left: 4px solid $sub-nav-level5;
							color: $sub-nav-hover-color;
						}
					}
				}
			}

		}

	}
}