
/**
 * version: {{version}}
 * file:    {{file}}
 * author:  Squiz Australia
 * updated: {{date}}
 *
 * Table of Contents
 *
 * - Modules
{{toc}}
 */

@import "boilerplate.scss";

/*
--------------------
Modules
--------------------
*/
// smaller screens (mobile and tablet less than 768 px)

div[class*='grid-'] {
	width: 100% !important;
	padding: 10px 0;
}
// home page
header {
	text-align: center;
	.search {
		float: none;
		text-align: left;
		width: 90%;
		margin: 0 1em;
		input {
			//width: 85%;
		}
	}
}
.container {
	&.top {
		.slider-info {
			padding: 5px !important;
			width: auto !important;
			.home-about {
				display: none;
			}
		}
		
		.latest-news {
			padding: 20px;
		}
	}
	&.middle {
		> div {
			height: auto !important;
		}
		img {
			display: none;
		}
	}
}
// navigation 
nav {
	ul {
		&.mainnav {
			display: block;
			li {
				display: block;
			}
		}
	}
	
}
// footer
footer {
	.grid-footer {
		padding: 20px;
	}
	.copyright {
		div {
			text-align: center !important;
		}
	}
}