// Base font
$base-font-scale: 1;  // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #4e4d4d;
$base-font-family: 'Lato', sans-serif;

// Selection highlighting
$content-selection-highlight: #b3d4fc;

// Colors
$company-color: #5897bc;
$secondary-color: #6662a5; // purple
$main-nav-color: #2a2a2a;
$main-nav-hover-color: #fff;
$sub-nav-color: #6662a5;
$sub-nav-hover-color: #2a2a2a;
$accent-color: #b20838;
$content-wrapper-background-color: #e6e5e5;
$content-block-background-color: #fff;
$footer-background-color: #fff;
$footer-heading-color: #033752;
$copyright-background-color: #033752;

$latest-news-color: $company-color;

$spotlight1-color: #4097cc;
$spotlight2-color: #6e6ab0;
$spotlight3-color: #55a44d;

$main-link-color: #5897bc;
$main-link-hover-color: #000;

//max width
$container-max-width: 1170px;