
/**
 * version: {{version}}
 * file:    {{file}}
 * author:  Squiz Australia
 * updated: {{date}}
 *
 * Table of Contents
 *
 * Modules
{{toc}}
 */
 @import "boilerplate.scss";
// Grid
$grid-columns: 12;

@for $i from 1 through $grid-columns {
    .grid-#{$i} {@include column($i);}
}
@for $i from 1 through $grid-columns {
    .push-#{$i} { @include push($i);}
}
@for $i from 1 through $grid-columns {
    .pull-#{$i} { @include pull($i);}
}

.container {
    @include outer-container();
    @extend %clearfix;
    
}
.container-fluid {
    @extend %clearfix;
    margin: 0;
    width: 100%;

}
body {
	//color: blue;
}
/*
--------------------
Modules
--------------------
*/

@import "header_desktop.scss";
@import "nav_desktop.scss";
@import "footer_desktop.scss";
@import "home_desktop.scss";
@import "inner_desktop.scss";
@import "landing_desktop.scss";
@import "breadcrumbs_desktop.scss";


