<div class="container top">

		<div class="grid-8">
			<div class="main-slider">
				<img src="mysource_files/home-carousel1.jpg">
				<img src="mysource_files/home-carousel2.jpg">
			</div>
			<div class="slider-info">
				<div class="home-about">
					<h1>About ORR</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat lacus sit amet risus malesuada aliquam. Cras venenatis fringilla vehicula. </p>
					<a href="#">More about ORR</a>
				</div>
				<span class="slider-nav">
					<button type="button" role="button" class="slick-pause">| |</button>
				</span>
			</div>
		</div>
		<div class="grid-4 latest-news">
			<h1>Latest News</h1>
			<ul>
				<li>
					<div class="date">
						<span class="day">31</span>
						<span class="month">oct</span>
					</div>
					<div class="headline">
						Lorem ipsum dolor sit amet, lskdf sldkf  consectetur adipiscing elit. 
					</div>
				</li>

				<li>
					<div class="date">
						<span class="day">31</span>
						<span class="month">oct</span>
					</div>
					<div class="headline">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					</div>
				</li>

				<li>
					<div class="date">
						<span class="day">31</span>
						<span class="month">oct</span>
					</div>
					<div class="headline">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					</div>
				</li>
			</ul>
		</div>

</div>

<div class="container middle">

		<div class="grid-4 spotlight1">
			<img src="mysource_files/spotlight1.jpg">
			<article>
				<h1>Published Statistics</h1>
				<ul>
					<li>Lorem ipsum dolor sit</li>
					<li>Nunc consequat lacus sit</li>
					<li>Something</li>
				</ul>
			</article>
		</div>
		<div class="grid-4 spotlight2">
			<img src="mysource_files/spotlight2.jpg">
			<article>
				<h1>Info for Passengers</h1>
				<ul>
					<li>Lorem ipsum dolor sit</li>
					<li>Nunc consequat lacus sit</li>
					<li>Something</li>
				</ul>
			</article>
		</div>
		<div class="grid-4 spotlight3">
			<img src="mysource_files/spotlight3.jpg">
			<article>
				<h1>How we Regulate</h1>
				<ul>
					<li>Lorem ipsum dolor sit</li>
					<li>Nunc consequat lacus sit</li>
					<li>Something</li>
				</ul>
			</article>
		</div>

</div>
<div class="container-fluid bottom">
	<div class="container twitter-block">
		<div class="twitter-feed">
		</div>
		<div class="twitter-feed">
		</div>
		<div class="twitter-feed">
		</div>
		<div class="twitter-feed">
		</div>
	</div>
</div>

