
<div class="container-fluid content-wrapper">
	{{>breadcrumbs}}
	<div class="container">

		<div class="grid-3 nav-wrapper">
			<div class="content-block sidenav">
				{{>subnav}}
			</div>
				
		</div>
		<div class="grid-6 main-wrapper">

			<!-- TEXT/IMAGE -->
			<div class="content-block main-content">
				<h1>Who we are</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt nulla aug ue, ac viverra turpis sagittis id. Ut dui dui, molestie aliquam mi nec, interdum mole stie ante. Cras ac aliquam dolor.</p>
				<p>Etiam convallis risus gravida, ullamcorper metus nec, ullamcorper erat. Donec turpis, blandit eget purus ut, porta adipiscing arcu. <a href="#">This is a normal link.</a></p>
				
			</div>
			<div class="content-block image-content">
				<img src="mysource_files/whoweare.jpg">
			</div>
			<div class="content-block main-content">
				<h2>Lorem ipsum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt nulla aug ue, ac viverra turpis sagittis id. Ut dui dui, molestie aliquam mi nec, interdum mole stie ante. Cras ac aliquam dolor.</p>
				<p>Etiam convallis risus gravida, ullamcorper metus nec, ullamcorper erat. Donec turpis, blandit eget purus ut, porta adipiscing arcu. <a href="#" class="pdf-link icon-link">This is a pdf link.</a></p>
				
				<!-- ICONS -->

				<div class="icon-block">
					<div class="icon-div">
						<i class="fa fa-bullhorn"></i>
						<span>Alerts</span>
					</div>
					<div class="icon-div">
						<i class="fa fa-pie-chart"></i>
						<span>Stats</span>
					</div>
					<div class="icon-div">
						<i class="fa fa-thumbs-up"></i>
						<span>Feedback</span>
					</div>
					<div class="icon-div">
						<i class="fa fa-phone"></i>
						<span>Contact</span>
					</div>
				</div>

				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt nulla aug ue, ac viverra turpis sagittis id. Ut dui dui, molestie aliquam mi nec, interdum mole stie ante. Cras ac aliquam dolor.</p>
				<p>Etiam convallis risus gravida, ullamcorper metus nec, ullamcorper erat. Donec turpis, blandit eget purus ut, porta adipiscing arcu. <a href="#" class="ext-link icon-link">External link.</a> </p>

				<h3>Lorem ipsum</h3>

				<ul>
					<li>Maecenas facilisis, urna eu bibendum pretium</li>
					<li>Diam odio ultrices tortor, cursus vehicula eros tortor a augue.</li>
					<li>Curabitur lacinia orci quis nisl porttitor vulputate</li>
					<li>Ut non rhoncus odio</li>
					<li>Maecenas tincidunt metus in gravida vehicula</li>
				</ul>

			</div>

			

		</div>
		<div class="grid-3 related-wrapper">
			<div class="content-block sub-content">
				<h3>Related links</h3>
				<ul>
					<li>
						<a href="#">link link link</a> 
					</li>
					<li>
						<a href="#">link link link</a>
					</li>
					<li>
						<a href="#">link link link</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

