
<div class="container-fluid content-wrapper">
	{{>breadcrumbs}}
	<div class="container landing-page">

		
		<div class="grid-12 landing-header">

			<!-- TEXT/IMAGE -->
			<div class="content-block padded">
				<div class="landing-content">
					<img class="landing" src="mysource_files/whoweare.jpg">

					<h1>About ORR</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt nulla aug ue, ac viverra turpis sagittis id. Ut dui dui, molestie aliquam mi nec, interdum mole stie ante. Cras ac aliquam dolor.</p>
					<p>Etiam convallis risus gravida, ullamcorper metus nec, ullamcorper erat. Donec turpis, blandit eget purus ut, porta adipiscing arcu. <a href="#">This is a normal link.</a></p>
				</div>

				<div class="featured-content">
					<h1>Business plan 2013-14</h1>
					<p>This is an important year for ORR, in which we will make decisions that help to determine the shape of Britain’s railways for the rest of this decade and beyond. </p>
					<a href="#">Read our Business plan for 2013-14</a>
				</div>
				<div class="featured-content">
					<h1>Business plan 2013-14</h1>
					<p>This is an important year for ORR, in which we will make decisions that help to determine the shape of Britain’s railways for the rest of this decade and beyond. </p>
					<a href="#">Read our Business plan for 2013-14</a>
				</div>
			</div>

		</div> <!-- grid landing-header -->

		<!-- category blocks -->

		<!-- row -->
		<div class="category-row">
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-book"></i><a href="#">Who we are</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-dashboard"></i><a href="#">What we do</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-calculator"></i><a href="#">How we are funded</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
		</div>

		<!-- row -->
		<div class="category-row">
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-train"></i><a href="#">Open rail</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-pie-chart"></i><a href="#">ORR Open Data</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-users"></i><a href="#">Who we work with</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
		</div>

		<!-- row -->
		<div class="category-row">
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-user"></i><a href="#">Working at ORR</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-truck"></i><a href="#">Supplying ORR</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="grid-4">
				<div class="category-block">
					<h1><i class="fa fa-phone"></i><a href="#">Contact us</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulpute pharetra lorem at congue. In pharetra comdo volutpat. </p>
					<a href="#">Read more</a>
				</div>
			</div>
		</div>

	</div> <!-- container -->
</div>

