{{#header}}
	<div class="grid-8">
        <a href="index.html"><img src="{{logo.url}}"  alt="{{logo.alt}}" class="logo"></a>
    </div>
    <div class="grid-4">
        <div class="mobile-menu" role="button">
            <a href="#"><span>MENU</span> <i class="fa fa-bars"></i></a>
        </div>

        <div class="search">
            <form action="search.html" method="GET">
                <input type="search" placeholder="Search" name="query">
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

{{/header}}